footer {
	clear: both;
	.footer-bottom{
		display: flex;
		justify-content:space-around;
		padding:20px;
		p{
			font-size: 14px;
		}
	}
	h5 {
		text-align: center;
		padding: 20px;
		color:#43C6CE;
		border-top: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;
	}
	.footerImages {
		display: flex;
		// justify-content:space-around;
		img {
		}
	}
	p {
		
		clear:both;
	}
}


