header {
	.container {
		h1 {
			padding: 45px 20px;
			font-weight: 100;
			font-size: 44px;
			color: rgba(67, 198, 206, 1.00);
			border-bottom:lightgray 1px solid;
			margin: 0;
			a{
				text-decoration: none;
				color:rgba(67, 198, 206, 1.00)
			}
		}		
	}

}
